# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env

# =========================
# Python Data / Local Files
# =========================
archive/
data/

# =========================
# Node / React / Vite
# =========================
node_modules/
frontend/node_modules/

dist/
frontend/dist/
dist-ssr/

# Package Manager Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# General Logs
logs/
*.log

# Local Config
*.local

# =========================
# IDEs & Editors
# =========================
.vscode/*
!.vscode/extensions.json

.idea/

# OS Files
.DS_Store

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln

# Swap Files
*.sw?